{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}

    <div class="container">
        <div class="row books-container justify-content-md-center">
        {% for book in books %}
            <div class="col-sm-8 book-container">
                <div class="row">
                    <div class="col-sm-2">
                        {% if book.volumeInfo.imageLinks is defined %}
                        <img src="{{ book.volumeInfo.imageLinks.smallThumbnail }}" alt="couverture" class="book-img">
                        {% else %}
                        <img src="{{ asset('images/no-image.jpg') }}" alt="couverture" class="book-img">
                        {% endif %}
                    </div>
                    <div class="col-sm-8">
                        <h4 class="book-title">{{ book.volumeInfo.title }}</h4>
                        <ul class="authors">
                            {% if book.volumeInfo.authors is defined %}
                                {% for author in book.volumeInfo.authors %}
                                <li class="author">
                                    {{ author }}
                                </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <form action="{{ path('app_add_book') }}" class="form-add-book" method="POST">
                            <input type="hidden" name="bookId" value="{{book.id}}">
                            {% if app.user.ownBook(book.id) %}
                                oui
                            {% else %}
                                non
                            {% endif %}
                            <button type="submit" class="btn btn-primary">Ajouter à mes livres</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
